.solved-list-row-grey {
    background-color: grey;
    display: block;
    width: 100%;
}

.solved-list-row-white {
    background-color: white;
    display: block;
    width: 100%;
}

.solved-list-col {
    display: inline-block;
    width: 25%;
    text-align: center;
}