.game-window {
    background-color: rgba(5, 24, 1, 0.8);
    flex-grow: 0;
    width: 80%;
    height: 95vh;
}

.empty-card-slot {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

.card {
    position: absolute;
    top: 300px;
    left: 500px;
    width: 100px;
    height: 175px;
    border-style: solid;
    border-radius: 5px;
    color: black;
    background-color: white;
}