.ChatComponent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chat-window {
    display: flex;
    border-style: none;
    background-color: white;
    width: 100%;
    height: 60vh;
    overflow: wrap;
    overflow-y: scroll;
    flex-grow: 0;
}

.chat-message-timestamp {
    list-style: none;
    width: 160px;
    margin: 3px 3px 10px 3px;
    padding: 3px;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.chat-message {
    list-style: none;
    width: 100px;
    padding: 3px;
    word-wrap: break-word;
    border-style: solid;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
    
.chat-message-yours {
    margin: 3px 3px 10px 3px;
    background-color: greenyellow;
}

.chat-message-mine {
    margin: 3px 3px 10px 50px;
    background-color: skyblue;
}

.chat-textbox {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    overflow: auto;
    word-wrap: break-word;
    flex-grow: 1;
}

.chat-button {
    text-align: center;
    width: 100%;
    flex-grow: 1;
    background-color: green;
}